@model IEnumerable<Reserva>
@*<link rel="stylesheet" href="~/css/Prettier.css" />*@

@{
    ViewData["Title"] = "Arrendamentos Ativos";
}
<link rel="stylesheet" href="~/css/custom-table.css"/>

<h2>@ViewData["Title"]</h2>

@if (!Model.Any())
{
    <p>Não existem arrendamentos ativos</p>
}

<table class="table">
    <thead>
    <tr>
        <th>Cliente</th>
        <th>Nome da Habitação</th>
        <th>Data de Início</th>
        <th>Data de Fim</th>
        <th>Funcionário Responsável</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var reserva in Model)
    {
        <tr>
            <td>@reserva.Cliente.Nome</td>
            <td>@reserva.Habitacao.DetalhesHabitacao.Nome</td>
            <td>@reserva.DataInicio.ToString("dd/MM/yyyy")</td>
            <td>@reserva.DataFim.ToString("dd/MM/yyyy")</td>
            <td>@reserva.Funcionario.Nome</td>

            <td>
                <a href="/Habitacao/avaliacoes/@reserva.Habitacao.Id">
                    <i class="fas fa-star" style="color: yellow;"></i>
                </a>
            </td>


            <td>
                <a asp-action="Details" asp-route-id="@reserva.Id">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>

        </tr>
    }
    </tbody>
</table>