@model HabitAqui.Dtos.Reservas.ReservaDto

@{
    ViewData["Title"] = "Confirmação da Reserva";
}

<h1>Confirmação da Reserva</h1>

<h2>Detalhes da Habitação:</h2>
<div>
    <strong>@Model.NomeHabitacao</strong><br/>
    <span>@Model.DescricaoHabitacao</span><br/>
    <span>Preço por Noite: @Model.PrecoPorNoiteHabitacao</span>
</div>

<h2>Detalhes da Reserva:</h2>
<div>
    <strong>Data de Check-In: @Model.DataInicio</strong><br/>
    <strong>Data de Check-Out: @Model.DataFim</strong><br/>
    <strong>Número de Noites: @Model.NumeroNoites</strong><br/>
    <strong>Valor da Reserva: @Model.precoTotal</strong><br/>
    <strong>Pedidos anexados à Reserva: @Model.AnotacoesCliente</strong><br/>
</div>

<div>
    <form asp-action="FinalizarReserva" asp-controller="Reservas" method="post">
        <input type="hidden" name="DataInicio" value="@Model.DataInicio"/>
        <input type="hidden" name="DataFim" value="@Model.DataFim"/>
        <input type="hidden" name="NumeroNoite" value="@Model.NumeroNoites"/>
        <input type="hidden" name="precoTotal" value="@Model.precoTotal"/>
        <input type="hidden" name="PrecoPorNoiteHabitacao" value="@Model.PrecoPorNoiteHabitacao"/>
        <input type="hidden" name="DescricaoHabitacao" value="@Model.DescricaoHabitacao"/>
        <input type="hidden" name="NomeHabitacao" value="@Model.NomeHabitacao"/>
        <input type="hidden" name="AnotacoesCliente" value="@Model.AnotacoesCliente"/>
        <input type="hidden" name="HabitacaoId" value="@Model.HabitacaoId"/>
        <button type="submit" class=" btn btn-primary">Confirmar Reserva</button>
    </form>
</div>