@model List<Reserva>
@{
    ViewData["Title"] = "Reservas Efetuadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/custom-table.css" />

<h1>Minhas Reservas</h1>

<table class="table table-hover mb-5">
    <thead>
        <tr>
            <th>Id</th>
            <th>Estado</th>
            <th>Habitação</th>
            <th>Data início</th>
            <th>Data fim</th>
            <th>Registo Entrega</th>
            @if (!User.IsInRole("Cliente"))
            {
                <th>Entrega</th>

            }
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@reserva.Id</td>
                <td>@reserva.Estado</td>
                <td>@reserva.Habitacao.DetalhesHabitacao.Nome</td>
                <td>@reserva.DataInicio</td>
                <td>@reserva.DataFim</td>
                <td>
                    @foreach (var registo in reserva.RegistoEntregas)
                    {   
                        @registo.TipoTransacao
                        <br />
                    }
                </td>
                
                @if (!User.IsInRole("Cliente"))
                {
                    <td>
                   
                        @if (@reserva.Estado == EstadoReserva.Aceite)
                        {
                            <a class="btn btn-sm btn-success" asp-controller="Reservas" asp-action="FuncEntregaReserva" asp-route-id="@reserva.Id">Entregar</a>
                        }
                        else if (reserva.Estado == EstadoReserva.Pendente)
                        {
                            <a class="btn btn-sm btn-warning" asp-controller="Reservas" asp-action="FuncEntregaReserva" asp-route-id="@reserva.Id">Entregar</a>
                        }
                    
                </td>
                }
                

            </tr>
        }
    </tbody>
</table>