@using HabitAqui.Models
@using HabitAqui.Data
@inject SignInManager<DetalhesUtilizador> SignInManager
@inject UserManager<DetalhesUtilizador> UserManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Dados Pessoais</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Alterar Password</a>
    </li>

    @if (User.IsInRole(Roles.Cliente.ToString()))
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="">Os meus Alugueres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="">As minhas Avaliações</a>
        </li>
    }
    @if (User.IsInRole(Roles.Funcionario.ToString()) || User.IsInRole(Roles.Gestor.ToString()))
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.GestaoHabitacoesNavClass(ViewContext)" id="gestao-habitacoes" asp-page="./GestaoHabitacoes">Gestão de Habitações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="">Gestão de Reservas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="">Gestão de Entregas</a>
        </li>
    }
    @if (User.IsInRole(Roles.Gestor.ToString()))
    {
        <li class="nav-item">
            <a class="nav-link @(ManageNavPages.GestorGestaoUtilizadoresNavClass(ViewContext))" asp-page="/Areas/Identity/Pages/Account/Manage/GestorGestaoUtilizadores">Gestão de Utilizadores</a>
        </li>
    }
    @if (User.IsInRole(Roles.Administrador.ToString()))
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.GestaoLocadoresNavClass(ViewContext)" id="gestao-locadores" asp-page="./GestaoLocadores">Gestão de Locadores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.GestaoCategoriasNavClass(ViewContext)" asp-page="./GestaoCategorias">Gestão de Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.GestaoUtilizadoresNavClass(ViewContext)" id="gestao-utilizadores" asp-page="./GestaoUtilizadores">Gestão de Utilizadores</a>
        </li>
    }
</ul>