@page
@attribute [Authorize(Roles = "Administrador")]
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@model GestaoUtilizadoresModel


@{
    ViewData["Title"] = "Utilizadores";
    var users = Model.Users;
}

<link rel="stylesheet" href="~/css/custom-table.css"/>
<h2>@ViewData["Title"]</h2>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th class="text-white">
                <a class="text-reset text-decoration-none" asp-page="./GestaoUtilizadores"
                   asp-route-sortOrder="@Model.UserNameSort">
                    Nome de Utilizador
                </a>
            </th>
            <th class="text-white">
                <a class="text-reset text-decoration-none" asp-page="./GestaoUtilizadores"
                   asp-route-sortOrder="@Model.EmailSort">
                    Email
                </a>
            </th>
            <th class="text-white">
                
                    Funções
               
            </th>
            <th></th>
            <th>Ativar/Desativar</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@Html.DisplayFor(model => user.UserName)</td>
            <td>@Html.DisplayFor(model => user.Email)</td>
            <td>
                @foreach (var role in user.Roles)
                {
                    <span class=" @($"{role.ToLower()}-color")">@role</span>
                    <br/>
                }
            </td>
            <td class="text-white">

                    <a class="btn btn-primary btn-sm" asp-page="./EditarUtilizador" asp-route-userId="@user.Id">
                        <i class="fa-solid fa-pen"></i>
                    </a>
            </td>
            <td>
                <form method="post" asp-controller="Admin" asp-action="ToggleUserStatus" asp-route-id="@user.Id">
                    
                    @if (user.Active)
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-times"></i> Desativar
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> Ativar
                        </button>
                    }
                </form>


            </td>
        </tr>
    }
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <nav aria-label="User pages">
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="./GestaoUtilizadores" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageNumber="@i">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
