@page
@attribute [Authorize(Roles = "Administrador")]
@using Microsoft.AspNetCore.Authorization
@model GestaoLocadoresModel

@{
    ViewData["Title"] = "Locadores";
}
<link rel="stylesheet" href="~/css/custom-table.css"/>
<link rel="stylesheet" href="~/css/custom-form.css"/>

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage"/>
<table class="table table-hover">
    <thead>
    <tr>
        <th class="identificador text-white">
            <a class="text-reset text-decoration-none" asp-page="./GestaoLocadores"
               asp-route-sortOrder="@Model.NomeSort">
                @Html.DisplayNameFor(model => model.Input.Nome)
                <i class="bi-chevron-expand"></i>
            </a>
        </th>
        <th class="identificador text-white">
            <a class="text-reset text-decoration-none" asp-page="./GestaoLocadores"
               asp-route-sortOrder="@Model.EstadoSubscricaoSort">
                Estado da Subscrição
                <i class="bi-chevron-expand"></i>
            </a>
        </th>
        <th class="identificador text-white">
            <a class="text-reset text-decoration-none" asp-page="./GestaoLocadores"
               asp-route-sortOrder="@Model.EstadoSort">
                Estado
                <i class="bi-chevron-expand"></i>
            </a>
        </th>
        <th class="identificador text-white">
            <a class="text-reset text-decoration-none" asp-page="./GestaoLocadores"
               asp-route-sortOrder="@Model.TotalHabitacoesSort">
                Total de Habitações
                <i class="bi-chevron-expand"></i>
            </a>
        </th>
        <th class="identificador text-white">
            <a class="text-reset text-decoration-none" asp-page="./GestaoLocadores"
               asp-route-sortOrder="@Model.AdministradoresSort">
                @Html.DisplayNameFor(model => model.Input.Administradores)
                <i class="bi-chevron-expand"></i>
            </a>
        </th>
        <th class="identificador text-white"></th> <!-- Coluna vazia para os botões -->
    </tr>
    </thead>

    <tbody>
    @if (Model != null && Model.Locadores != null)
    {
        @if (Model.Locadores.Count == 0)
        {
            <tr>
                <td colspan="5">Não existem locadores registados.</td>
            </tr>
        }
        else
        {
            @foreach (var loc in Model.Locadores)
            {
                <tr>
                    <td>@Html.DisplayFor(model => loc.Nome) @Html.DisplayFor(model => loc.Apelido)</td>
                    <td>@Html.DisplayFor(model => loc.EstadoDaSubscricao)</td>
                    @if (loc.Active)
                    {
                        <td>Ativo</td>
                    }
                    else
                    {
                        <td>Inativo</td>
                    }
                    <td>@Html.DisplayFor(model => loc.Habitacoes.Count)</td>
                    <td>@Html.DisplayFor(model => loc.Administradores.Count)</td>
                    <td>
                        <a class="btn btn-success btn-sm"
                            href="@Url.Action("Detalhes", "Locador", new { id = loc.Id })">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <a class="btn btn-primary btn-sm"
                           href="@Url.Action("Update", "Locador", new { id = loc.Id })">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a class="btn btn-danger btn-sm"
                           href="@Url.Action("Delete", "Locador", new { id = loc.Id })">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    }

    </tbody>
    <tfoot>
    <tr>
        <td colspan="12">
            <a class="btn btn-success"
               data-bs-toggle="modal"
               data-bs-target="#adicionarLocadorModal">
                <i class="fa-regular fa-plus" aria-hidden="true"></i> Adicionar Locador
            </a>
        </td>
    </tr>
    </tfoot>
</table>
<!-- Modal -->
<div class="modal fade" id="adicionarLocadorModal" tabindex="-1" aria-labelledby="adicionarLocadorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="adicionarLocadorModalLabel">Adicionar Locador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body criar-locador">
                <form id="adicionar-locador" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h6 class="modal-title text-dark mb-3">Dados do Locador</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Nome" class="form-control" autocomplete="nome" aria-required="true" placeholder="Nome do Locador" value="@Model.Input.Nome"/>
                                <label asp-for="Input.Nome" class="form-label"></label>
                                <span asp-validation-for="Input.Nome" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Apelido" class="form-control" autocomplete="nome" aria-required="true" placeholder="Apelido do Locador" value="@Model.Input.Apelido"/>
                                <label asp-for="Input.Apelido" class="form-label"></label>
                                <span asp-validation-for="Input.Apelido" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Email" value="@Model.Input.Email">
                                <label asp-for="Input.Email" class="form-label"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="password" aria-required="true" placeholder="Password" value="@Model.Input.Password" type="password"/>
                                <label asp-for="Input.Password" class="form-label"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Nif" class="form-control" autocomplete="nif" aria-required="true" placeholder="Nif" value="@Model.Input.Nif" type="number">
                                <label asp-for="Input.Nif" class="form-label"></label>
                                <span asp-validation-for="Input.Nif" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phoneNumber" aria-required="true" placeholder="Telemóvel" value="@Model.Input.PhoneNumber"/>
                                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Localizacao.Morada" class="form-control" autocomplete="morada" aria-required="true" placeholder="Morada" value="@Model.Input.Localizacao.Morada"/>
                                <label asp-for="Input.Localizacao.Morada" class="form-label"></label>
                                <span asp-validation-for="Input.Localizacao.Morada" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Localizacao.CodigoPostal" class="form-control" autocomplete="codigoPostal" aria-required="true" placeholder="Código Postal" value="@Model.Input.Localizacao.CodigoPostal"/>
                                <label asp-for="Input.Localizacao.CodigoPostal" class="form-label"></label>
                                <span asp-validation-for="Input.Localizacao.CodigoPostal" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Localizacao.Cidade" class="form-control" autocomplete="cidade" aria-required="true" placeholder="Cidade" value="@Model.Input.Localizacao.Cidade"/>
                                <label asp-for="Input.Localizacao.Cidade" class="form-label"></label>
                                <span asp-validation-for="Input.Localizacao.Cidade" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Localizacao.Pais" class="form-control" autocomplete="pais" aria-required="true" placeholder="País" value="@Model.Input.Localizacao.Pais"/>
                                <label asp-for="Input.Localizacao.Pais" class="form-label"></label>
                                <span asp-validation-for="Input.Localizacao.Pais" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="sortOrder" value="asc"/>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="d-flex justify-content-center mb-5">
    <nav aria-label="User pages">
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="./GestaoLocadores" asp-route-sortOrder="@Model.CurrentPage" asp-route-pageNumber="@i">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}