@page
@attribute [Authorize(Roles = "Administrador")]
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@model GestaoUtilizadoresModel


@{
    ViewData["Title"] = "Utilizadores";
    var users = Model.Users;
}

<link rel="stylesheet" href="~/css/custom-table.css"/>
<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th class="identificador" onclick="sortTable(0)">Nome de Utilizador</th>
        <th class="identificador">Email</th>
        <th class="identificador" onclick="sortTable(2)">Funções</th>
        <td>
            <span class="identificador" data-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)" onclick="editUser('@User.FindFirstValue(ClaimTypes.NameIdentifier)')">Editar</span>
        </td>
        <th class="identificador">Ativar/Desativar</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@Html.DisplayFor(model => user.UserName)</td>
            <td>@Html.DisplayFor(model => user.Email)</td>
            <td>
                @foreach (var role in user.Roles)
                {
                    <span class="@($"{role.ToLower()}-color")">@role</span>
                    <br/>
                }
            </td>
            <td>
                @*  TODO: Fazer o edit dos utilizadores
                     <a asp-action="Edit" asp-route-id="@user.Id">
                        <i class="fa fa-pencil"></i>
                    </a>*@
            </td>
            <td>
                <form method="post" asp-controller="Admin" asp-action="ToggleUserStatus" asp-route-id="@user.Id">
                    @if (user.Active)
                    {
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-times"></i> Desativar
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i> Ativar
                        </button>
                    }
                </form>


            </td>
        </tr>
    }
    </tbody>
</table>