@page
@using System.Security.Claims
@model ListarUtilizadoresModel


@{
    ViewData["Title"] = "Utilizadores";
    var users = Model.Users; // Registra Model.Users em uma variável local para facilitar o acesso no JavaScript

}

<link rel="stylesheet" href="~/css/custom-table.css"/>
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
    <tr>
        <th class="identificador" onclick="sortTable(0)">Nome de Utilizador</th>
        <th class="identificador">Email</th>
        <th class="identificador" onclick="sortTable(2)">Funções</th>
        <td>
            <span class="identificador" data-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)" onclick="editUser('@User.FindFirstValue(ClaimTypes.NameIdentifier)')">Editar</span>
        </td>
        <th class="identificador">Ativar/Desativar</th>


    </tr>
    </thead>

    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                @foreach (var role in user.Roles)
                {
                    <span class="@($"{role.ToLower()}-color")">@role</span>
                    <br/>
                }
            </td>
            <td>
                <span class="edit-link" onclick="editUser('@user.Id')">Editar</span>
            </td>
            <td>
                Ativar/Desativar
            </td>
        </tr>
    }
    </tbody>
</table>


<script>
    var ascendingOrder = true;

    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.querySelector("table");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < rows.length - 1; i++) {
                shouldSwitch = false;

                x = rows[i].getElementsByTagName("td")[columnIndex];
                y = rows[i + 1].getElementsByTagName("td")[columnIndex];

                if (ascendingOrder ? x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase() : x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }

        ascendingOrder = !ascendingOrder;
    }

    function editUser(userId) {
        console.log('Clicou em Editar com ID:', userId);

        window.location.href = '/Areas/Identity/Pages/Account/Manage/EditarUtilizador';
    }
</script>