@Model HabitAqui.PaginatedList<HabitAqui.Models.Avaliacao>

@using HabitAqui.Data

@{
    ViewData["Title"] = "Nome da habitação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/detalhes-habitacao.css"/>

<div class="text-left">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
@* TODO: Resolver a questão das imagens *@
<div class="galeria-container">
    <div class="outside-flex">
        <div class="flex-left col-6 mx-2">

            <img alt="imagem da casa" src="/imgs/habitacoes/habitacao001.jpg">
        </div>
        <div class="flex-right col-6 mx-2">
            <div class="inner-flex-right">
                <img alt="imagem da casa" src="/imgs/habitacoes/habitacao002.jpg">
                <img alt="imagem da casa" src="/imgs/habitacoes/habitacao003.jpg">
                <img alt="imagem da casa" src="/imgs/habitacoes/habitacao004.jpg">
                <img alt="imagem da casa" src="/imgs/habitacoes/habitacao005.jpg">
            </div>
        </div>
    </div>
</div>

<div class="avaliacoes-container">
    <h2>Avaliações</h2>
    @foreach (var avaliacao in Model.Avaliacoes)
    {
        <div class="avaliacao">
            <p><strong>Nota:</strong> @avaliacao.Nota</p>
            <p><strong>Comentário:</strong> @avaliacao.Comentario</p>
            <p><strong>Por:</strong> @avaliacao.Cliente.Nome</p>
        </div>
    }
    
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <a asp-action="Avaliar" asp-route-id="@Model.Id">Deixar uma avaliação</a>
        </div>
    }
</div>

@if (User.IsInRole(Roles.Funcionario.ToString()) || User.IsInRole(Roles.Gestor.ToString()))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}