@*@model Habitacao

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/custom-form.css">

<h3>@ViewData["Title"] @Model.DetalhesHabitacao.Nome</h3>

<div class="row">    dsfsdfdsf ds fsdf d f
    <div class="col-md-12">
        <form id="editar-habitacao-form" method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="row">
                <div class="cold-md-12">
                    <div class="form-floating mb-3">
                        <input asp-for="DetalhesHabitacao.Nome" class="form-control" autocomplete="nome" aria-required="true" placeholder="Nome da Habitação" value="@Model.DetalhesHabitacao.Nome">
                        <label asp-for="DetalhesHabitacao.Nome" class="form-label"></label>
                        <span asp-validation-for="DetalhesHabitacao.Nome" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input
                                    asp-for="DetalhesHabitacao.Localizacao.Morada"
                                    autocomplete="morada"
                                    aria-required="true"
                                    aria-placeholder="Morada"
                                    class="form-control"
                                    placeholder="Morada"
                                    value="@Model.DetalhesHabitacao.Localizacao.Morada"/>
                                <label
                                    asp-for="DetalhesHabitacao.Localizacao.Morada"
                                    class="form-label text-dark">
                                </label>
                                <span
                                    asp-validation-for="DetalhesHabitacao.Localizacao.Morada"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input
                                    asp-for="DetalhesHabitacao.Localizacao.Cidade"
                                    autocomplete="cidade"
                                    aria-required="true"
                                    aria-placeholder="Cidade"
                                    class="form-control"
                                    placeholder="Cidade"
                                    value="@Model.DetalhesHabitacao.Localizacao.Cidade"/>
                                <label
                                    asp-for="DetalhesHabitacao.Localizacao.Cidade"
                                    class="form-label text-dark">
                                </label>
                                <span
                                    asp-validation-for="DetalhesHabitacao.Localizacao.Cidade"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input
                                    asp-for="DetalhesHabitacao.Localizacao.CodigoPostal"
                                    autocomplete="codigoPostal"
                                    aria-required="true"
                                    aria-placeholder="Código Postal"
                                    class="form-control"
                                    placeholder="Código Postal"
                                    value="@Model.DetalhesHabitacao.Localizacao.CodigoPostal"/>
                                <label
                                    asp-for="DetalhesHabitacao.Localizacao.CodigoPostal"
                                    class="form-label text-dark">
                                </label>
                                <span
                                    asp-validation-for="DetalhesHabitacao.Localizacao.CodigoPostal"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input
                                    asp-for="DetalhesHabitacao.Localizacao.Pais"
                                    autocomplete="pais"
                                    aria-required="true"
                                    aria-placeholder="País"
                                    class="form-control"
                                    placeholder="País"
                                    value="@Model.DetalhesHabitacao.Localizacao.Pais"/>
                                <label
                                    asp-for="DetalhesHabitacao.Localizacao.Pais"
                                    class="form-label text-dark">
                                </label>
                                <span
                                    asp-validation-for="DetalhesHabitacao.Localizacao.Pais"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="mb-2" asp-for="CategoriasId"></label>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            @if (ViewBag.Categorias != null)
                            {
                                foreach (var categoria in ViewBag.Categorias as List<Categoria>)
                                {
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="categoria_@categoria.Id" name="CategoriasId" value="@categoria.Id"/>
                                        <label class="form-check-label" for="categoria_@categoria.Id">@categoria.Nome</label>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-danger" role="alert">
                                    <p>Não existem categorias disponíveis!</p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input
                                    asp-for="Area"
                                    autocomplete="area"
                                    aria-required="false"
                                    aria-placeholder="Área"
                                    class="form-control"
                                    placeholder="Área"/>
                                <label
                                    asp-for="Area"
                                    class="form-label text-dark">
                                </label>
                                <span
                                    asp-validation-for="Area"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input
                                    asp-for="PrecoPorNoite"
                                    autocomplete="precoPorNoite"
                                    aria-required="true"
                                    aria-placeholder="Preço por noite"
                                    class="form-control"
                                    placeholder="Preço por noite"/>
                                <label
                                    asp-for="PrecoPorNoite"
                                    class="form-label text-dark">
                                </label>
                                <span
                                    asp-validation-for="PrecoPorNoite"
                                    class="text-danger">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="cold-md-12">
                            <textarea 
                                    asp-for="Descricao"
                                    autocomplete="descricao"
                                    aria-required="false"
                                    aria-placeholder="Descrição"
                                    class="form-control"
                                    placeholder="Descrição"
                                    rows="8">
                                </textarea>
                            <span
                                asp-validation-for="Descricao"
                                class="text-danger">
                            </span>
                        </div>
                    </div>
            
            
            

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@