@using HabitAqui.Data
@model IEnumerable<Habitacao>

@{
    ViewData["Title"] = "Habitações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="css/card-habitacao.css"/>

<div>
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <div class="container">
        <div class="row justify-content-center my-2">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <form class="form-inline" asp-controller="Habitacao" asp-action="Search" method="get">
                    <div class="input-group w-100">
                        <input type="search" class="form-control" placeholder="Cidade, País, Locador, Categoria" aria-label="Search" name="search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* TODO: for each categoria escrever implementar a categoria*@

<div class="container-categorias">
    @foreach (var category in ViewBag.Categories)
    {
        <form asp-controller="Habitacao" asp-action="Search" method="get" class="form-inline">
            <input type="hidden" name="search" value="@category">
            <button type="submit" class="bg-transparent border-0">
                <span class="text-white">@category</span>
            </button>
        </form>
    }
</div>

@if (User.IsInRole(Roles.Funcionario.ToString()) || User.IsInRole(Roles.Gestor.ToString()))
{
    <p>
        <a class="btn btn-lg btn-primary" asp-action="Create">Adicionar habitação</a>
    </p>
}

<div class="container-flex">
    @if (!Model.Any())
    {
        <div class="container text-center mt-4">
            <div class="row text-center">
                <h3>Ainda não há habitações para mostrar.</h3>
            </div>
        </div>
    }
    else
    {
        foreach (var habitacao in Model)
        {
            <div class="habitacao-card">
                <div class="card-content">
                    <div class="card-top">
                        <a asp-action="Detalhes" asp-route-id="@habitacao.Id">
                            <img src="imgs/habitacoes/@habitacao.Id/@habitacao.Imagens!.First().Path" alt="">
                        </a>
                    </div>
                    <div class="card-bottom">
                        <a asp-action="Detalhes" asp-route-id="@habitacao.Id"></a>
                        <div>
                            <div>
                                <p>@habitacao.DetalhesHabitacao.Localizacao?.Cidade, @habitacao.DetalhesHabitacao.Localizacao?.Pais</p>

                            </div>
                            
                            <div>
                                <p>
                                    <strong>Próxima Data Disponível:</strong>
                                    @if (ViewBag.ProximaDataDisponivel != null)
                                    {
                                    <p>@(((DateTime)ViewBag.ProximaDataDisponivel).ToString("dd/MM/yyyy"))</p>
                                    }
                                    else
                                    {
                                    <p>@DateTime.Today.AddDays(1).ToString("dd/MM/yyyy")</p>
                                    }
                                </p>
                            </div>

                            <div>
                                <p>€ <strong>@habitacao.DetalhesHabitacao.PrecoPorNoite</strong> por noite</p>
                            </div>
                            <div>
                                <a asp-controller="Reservas" asp-action="Reservar" asp-route-id="@habitacao.Id">Efetuar Reserva</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>