@model List<Avaliacao>
<link rel="stylesheet" href="~/css/custom-table.css" />

<h2>Minhas Avaliações</h2>

@if (Model.Count == 0)
{
    <p>Ainda não foi feita nenhuma avaliação.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Nome da Habitação</th>
                <th> <i class="far fa-star"></i></th>
            <th>Comentário</th>
            @*<th></th>*@
        </tr>
        </thead>
        <tbody>
        @foreach (var avaliacao in Model)
        {
                <tr>
                    <td>
                        <a href="@Url.Action("Detalhes", "Habitacao", new { id = avaliacao.Habitacao.Id })" style="color: inherit; text-decoration: none;">
                            @avaliacao.Habitacao.DetalhesHabitacao.Nome
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Detalhes", "Habitacao", new { id = avaliacao.Habitacao.Id })" style="color: inherit; text-decoration: none;">
                            @avaliacao.Nota
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Detalhes", "Habitacao", new { id = avaliacao.Habitacao.Id })" style="color: inherit; text-decoration: none;">
                            @avaliacao.Comentario
                        </a>
                    </td>

                    @*<td>
            <a asp-controller="Habitacao" asp-action="EditarAvaliacoes" asp-route-id="@avaliacao.Id">
            <i class="fas fa-pencil-alt"></i>
            </a>
            </td>*@
                </tr>
        }
        </tbody>
    </table>
}

@* <td>
    <form method="post" asp-controller="Habitacao" asp-action="EditarAvaliacoes">
        <input type="hidden" name="id" value="@avaliacao.Id" />
        <input type="hidden" name="habitacaoId" value="@avaliacao.Habitacao.Id" />
        <button type="submit" class="btn btn-link">
            <i class="fas fa-pencil-alt"></i>
        </button>
    </form>

</td> *@
