@using HabitAqui.Data
@model IEnumerable<Habitacao>

@{
    ViewData["Title"] = "Habitações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/card-habitacao.css"/>

<div>
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <div class="container">
        <div class="row justify-content-center my-2">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <form class="form-inline" asp-controller="Habitacao" asp-action="Search" method="get">
                    <div class="input-group w-100">
                        <input type="search" class="form-control" placeholder="Search" aria-label="Search" name="search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="container mt-4">
    @if (!Model.Any())
    {
        <div class="text-center">
            <h3>Não há imóveis que obedeçam ao seu critério de procura!</h3>
        </div>
    }
    else
    {
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Localização</th>
                    <th>Avaliação</th>
                    <th>Disponibilidade</th>
                    <th>Preço por Noite</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var habitacao in Model)
                {
                    <tr>
                        <td>
                            <img src="/imgs/habitacoes/@habitacao.Id/@habitacao.Imagens!.First().Path" alt="Imagem da Habitação" class="img-fluid" style="max-width: 100px;">
                        </td>
                        <td>@habitacao.DetalhesHabitacao.Nome</td>
                        <td>@habitacao.DetalhesHabitacao.Localizacao?.Cidade, @habitacao.DetalhesHabitacao.Localizacao?.Pais</td>
                        <td>@habitacao.MediaAvaliacoes <span class="icon-star">★</span></td>
                        <td>
                            @* @if (habitacao.DetalhesHabitacao)
                            {
                                <span class="text-success">Disponível</span>
                            }
                            else
                            {
                                <span class="text-danger">Não disponível</span>
                            } *@
                        </td>
                        <td>€ @habitacao.DetalhesHabitacao.PrecoPorNoite</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
